[Unit]
Description=Tabi-Disco

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/pi/tabi-disco/server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tabidisco
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
