[Unit]
Description=Tabidisco GUI
After=tabidisco-server

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/pi/tabi-disco/gui
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tabidisco-gui
User=pi
Group=pi
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
